<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <title>Currency Converter</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <div class="card mt-5">
                <div class="card-header">Currency Converter</div>
                <div class="card-body">
                  <form method="GET" action="convert">
                    <div class="mb-3">
                      <label class="form-label">Convert from:</label>
                      {{currencies}}
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Convert to:</label>
                      {{currencies2}}
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Convert
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="card mt-5">
                <div class="card-header">Chart</div>
                <div class="card-body">
                  <div>
                    <canvas id="tempChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mt-5">
            <div class="card-header">Currency Rates</div>
            <div class="card-body">
              <h1>{{currency}}</h1>
              {{rates}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
      integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
       $(document).ready(function () {
        $(".select2").select2();
      });

      const data = {
        datasets: [{
            label:"Rate",
            data:RatesData,
            backgroundColor: '#71B0E8',
            barPercentage: 0.8,
            borderColor: [
              '#00000'
              ],
            borderWidth: 1
          }]
      };

      const config = {
        type: "bar",
        data: data,
        options: {
          scales: {
            y: {
              beginAtZero: false
            }
          }
        }
      };

      var chart = new Chart(document.getElementById('tempChart'), config);
    </script>
  </body>
</html>
